.robotaxi-main-content {
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: column;
}

.robotaxi-main-content img {
    width: 100%;
    max-width: 50em;
    /* margin-left: 5em; */
    height: auto;
    display: flex;
    margin-left: -2.55em;
    margin-top: -3em;
}

.robotaxi-info-confirm-button {
    background-color: #3f7bea !important;
}