#fr-stream-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

#fr-stream-container button {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

#fr-stream-container video {
    width: auto;
    height: auto;
    display: block;
    max-height: 65vh;
}